<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/createacc.css">
</head>

<body>

<div class="main">
    <form method="post">
    <div class="input-container">

        <input type="text" placeholder="username" name="username"><br>

        <input type="text" placeholder="Email Id" name="email">


        <div class="password-container">
            <input type="password" id="password" placeholder="Password" name="password">
            <span class="eye"">👁</span>
        </div>
        <div class="password-container">
            <input type="password" id="confirm-password" placeholder="Confirm Password" name="confirm_password">
            <span class="eye"">👁</span>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color:#c0392b;text-align:center;font-size:15px;margin-top:15px;margin-bottom:10px;font-weight:bold;">{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <a href="/"><button id="onebut" type="button">Back</button></a>
        <button id="twobut" type="submit">Submit</button>
    </div>
    </form>
  </div>

</body>
</html>