<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/createacc.css">
</head>

<body>

<div class="main">
    <div class="input-container">

        <input type="text" placeholder="username"><br>

        <input type="text" placeholder="Email Id">


        <div class="password-container">
            <input type="password" id="password" placeholder="Password">
            <span class="eye"">👁</span>
        </div>
        <div class="password-container">
            <input type="password" id="password" placeholder=" Confrim Password">
            <span class="eye"">👁</span>
        </div>
        <button id="onebut">Back</button>
        <button id="twobut">Submit</button>

    </div>
  </div>

</body>
</html>