<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/homepage.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"> 
</head>
  <body>


    <nav class="navbar">

        <div class="logo">
            <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1779162328/groomers_l3tten.png" alt="logo" class="logo-measures"/>
        </div>
        <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/e_background_removal/Flower_tp88gg.png" class="twologo"/>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>



    
    
<div id="card-1">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
  <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1780291249/9_kmyvyh.png"
       class="d-block w-100"
       alt="Mandala Design">
</div>
   <div class="carousel-item active">
  <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1780291277/10_nhcugn.png "
       class="d-block w-100"
       alt="Mandala Design">
</div>
    <div class="carousel-item active">
  <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1780291241/8_j2bana.png"
       class="d-block w-100"
       alt="Mandala Design">
</div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>
    
</div>

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

