<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/homepage.css"> 
</head>
  <body>
<div id="card-1">
    <nav class="navbar">

        <div class="logo">
            <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1779162328/groomers_l3tten.png" alt="logo" class="logo-measures"/>
        </div>
        <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/e_background_removal/Flower_tp88gg.png" class="twologo"/>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>
    <a herf="#"><img src="https://res.cloudinary.com/dp1nxw4to/image/upload/v1779879331/ChatGPT_Image_May_27_2026_04_24_31_PM_mzcz9i.png" id="men"/></a>
    <a herf="#"><img src="https://res.cloudinary.com/dp1nxw4to/image/upload/v1779879338/a5608109-d3d5-4730-9b35-752d36666634_h239jg.png" id="women"/></a>

</div>
  </body>
</html>