<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/menindex.css"> 
</head>
  <body>
<div id="card-1">
    <nav class="navbar">

        <div class="logo">
            <img src="https://res.cloudinary.com/dtb8nawb3/image/upload/q_auto/f_auto/v1779162328/groomers_l3tten.png" alt="logo" class="logo-measures"/>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>
    <div class="all-products">

    </div>
</div>
  </body>
</html>